 * {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
 
 html, body, head{
    margin:0;
    padding:0;
}

 .section_titre .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

 .section_titre_fillback {
    width: 50%;
}
 .section_titre_fillback img {
    width: 100%;
}

 .section_titre_carte {
    width: 50%;
}

 .section_titre_carte img {
    width: 100%;
}

 .nouvelle_facon{
    background-image: url("../img/drop.png");
    background-repeat: no-repeat;
    background-size: 12%;
    text-align: center;
    align-items: center;
    margin: 3% 0% 3% 0%;
}

 .nouvelle-facon .container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

 .nouvelle_facon .container, 
 .nouvelle_facon .container .nouvelle_facon_carte, 
 .nouvelle_facon .container .nouvelle_facon_texte{
    display: inline-block; 
    vertical-align: top;
    text-align: center;
    align-items: center;
    color: #585858;
}

 .nouvelle_facon .container .nouvelle_facon_carte{
    width: 50%;
}

 .nouvelle_facon .nouvelle_facon_carte img{
    width: 80%;
}

 .nouvelle_facon .container .nouvelle_facon_texte{
    width: 40%;
    margin: 0;
    color:#585858;
    padding: 1% 5% 1% 5%;
}

 .nouvelle_facon .container .nouvelle_facon_texte p{
    font-size: 14px;
    text-align: justify;
}

 .nouvelle_facon .container .nouvelle_facon_texte h1{
    font-size: 25px;
    font-weight: bold;
    color:#000000;
    text-align: justify;
}

 .prevision .container{
    margin: 3% 0% 3% 0%;
}

 .prevision .container, 
 .prevision  .container .prevision_texte, 
 .prevision .container .prevision_separateur_titre, 
 .prevision .container .prevision_fleche{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    align-items: center;
    color:#585858;
}

 .prevision_texte{
    width: 45%;
    padding: 1% 5% 1% 5%;
}

 .prevision_texte p{
    font-size: 14px;
    color:#585858;
    text-align: justify;
}

 .prevision_texte h1{
    font-size: 25px;
    color:#000000;
    text-align: justify;
}

 .prevision_separateur_titre img{
    max-width: 100%;
}

 .prevision .prevision_fleche{
    position: relative;
    width: 45%;
}

 .prevision .prevision_fleche img{
    width: 80%;
}

 .telecharges{
    background-image: url("../img/fond_orange.jpg");
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    align-items: center;
    color:white;
}

 .telecharges .container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

 .telecharges, 
 .telecharges .container .telecharges_left_texte, 
 .telecharges .container .telecharges_right{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    align-items: center;
}

 .telecharges .container .telecharges_left_texte{
    width: 50%;
    font-size: 14px;
    text-align: left;
    padding: 1% 8% 1% 5%;
}

 .telecharges .container .telecharges_right{
    width: 40%;
    padding: 1% 8% 2% 15%;
}

 .telecharges .container .telecharges_right .telecharges_apple, 
 .telecharges .container .telecharges_right .telecharges_google{
    width: 100%;
    border: 2px solid white;
    border-radius: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 1% 8% 1% 5%;
    justify-content: space-around;
}

 .telecharges .container .telecharges_right .telecharges_google{
    margin-bottom: 10%;
}

 .slide_fillintime, 
 .slide_fillintime .slide_fillintime_left, 
 .slide_fillintime .slide_fillintime_right{
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

 .slide_fillintime{
    width: 100%;
    text-align: left;
    align-items: center;
}

 .slide_fillintime_left {
    position: relative;
    height: 100%;
    width: 60%;
    padding: 10% 1%;
    align-items: center;
}

 .swiper-container {
    width: 100%;
    height: 100%;
}

 .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

 .slide_fillintime_right{
    width: 35%;
}

 .slide_fillintime .slide_fillintime_right .slide_texte{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    align-items: center;
    color:#585858;
    padding: 30% 1%;
}

 .slide_fillintime .slide_fillintime_right .slide_texte p{
    font-size: 14px;
    text-align: justify;
}

 .slide_fillintime .slide_fillintime_right .slide_texte h1{
    font-size: 25px;
    font-weight: bold;
    color:#000000;
    text-align: justify;
}

 .slide_fillintime .slide_fillintime_right .slide_texte .slide_fillintime_separateur_titre img{
    max-width: 100%;
}

 .footer-fillintime{
    background-color: #292c2f;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    padding: 55px 50px;
    align-items: center;
}

 .footer-fillintime, 
 .footer-fillintime .footer_left, 
 .footer-fillintime .footer_center, 
 .footer-fillintime .footer_right, 
 .footer-fillintime .footer_right .footer_twitter, 
 .footer-fillintime .footer_right .footer_facebook{
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

 .footer-fillintime .footer_left{
    width: 30%;
}

 .footer-fillintime .footer_center{
    width: 35%;
    color: white;
}

 .footer-fillintime .footer_right{
    width: 30%;
}

.footer-fillintime .footer_right .footer_twitter{
    margin-right: 5%;
}

 @media (max-width: 880px){
.nouvelle_facon .container, 
.nouvelle_facon .container .nouvelle_facon_texte, 
.nouvelle_facon .container .nouvelle_facon_separateur_titre{
    display: block;
    width: 100%;
    text-align: center;
    padding: 0% 10% 1% 10%;
}

.nouvelle_facon .container .nouvelle_facon_carte img{
    display: block;
    width: 100%;
    text-align: center;
}

.prevision .container, 
.prevision .container .prevision_texte, 
.prevision .container .prevision_separateur_titre{
    display: block;
    width: 100%;
    text-align: center;
    padding: 0% 10% 1% 10%;
}

.prevision .container .prevision_fleche img{
    display: block;
    width: 100%;
    text-align: center;
}

.telecharges .container, 
.telecharges .container .telecharges_left_texte, 
.telecharges .container .telecharges_left_texte .telecharges_fillintime_separateur_titre{
    display: block;
    width: 100%;
    text-align: left;
}    

.telecharges .container .telecharges_left_texte{
    padding: 20% 18% 0% 18%;
}

.telecharges .container .telecharges_right{
    display: block;
    width: 60%;
    text-align: center;
    height: 100%;
    padding: 0% 0% 23% 30%;
}

 .slide_fillintime .slide_fillintime_left, 
 .slide_fillintime .slide_fillintime_right, 
 .footer-fillintime .footer_left, 
 .footer-fillintime .footer_center, 
 .footer-fillintime .footer_right{
    display: block;
    width: 100%;
    text-align: center;
}

.slide_fillintime .slide_fillintime_right .slide_texte{
    padding: 0% 10% 10% 10%;
}